<mat-form-field>
  <mat-label>Search</mat-label>
  <input
    type="text"
    matInput
    #cityCrtl
    (keydown.enter)="search(cityCrtl.value)"
  />
  <mat-icon matSuffix (click)="search(cityCrtl.value)">search</mat-icon>
</mat-form-field>
<mat-card *ngIf="weather">
  <mat-card-header>
    <mat-card-title
      >{{ weather.name }}, {{ weather.sys.country }}</mat-card-title
    >
    <mat-card-subtitle>{{ weather.weather[0].main }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png"
  />
  <mat-card-content>
    <h1>{{ weather.main.temp | number : "1.0.0" }}</h1>
    <p>Pressure : {{ weather.main.pressure }} hPa</p>
    <p>Humidity :{{ weather.main.humidity }}%</p>
    <p>Wind: {{ weather.wind.speed }} m/s</p>
  </mat-card-content>
</mat-card>
