:host{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
}
mat-form-field {
  width: 20%;
  min-width: 300px;
}
mat-icon{
  cursor: pointer;
}
mat-card{
  margin-top: 30px;
  width: 250px;
}
h1{
  text-align: center;
  font-size: 2.5em;
}
.d-flex{
  display: flex;

  gap: 1rem;

  > mat-card:nth-child(even){
    background-color:#d53838;
    color: white;
  }
  > mat-card:nth-child(odd){
    background-color:#4e4eee;
    color: white;
  }
}
.mat-mdc-card-subtitle{
  color: white;
}
